@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Inter:wght@400;600;700&family=Varela+Round&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #EBEBEB;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.form-container {
    background: #fff;
    margin: 150px auto;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 1em #81818120
}

form {
    padding: 20px;

}

form h3 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}

form .input-container {
    position: relative;
    margin-bottom: 15px;
}

form .input-container input, input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

form input[type="submit"] {
    border: 0;
    background: red;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 16px 12px 16px;
    margin: 0 0 15px 0;
}

form .input-container input {
    border: 1px solid #e4e4e4;
    color: #818181;
    padding: 0 55px 0 25px;
    font-size: 0.9rem;
}

form .input-container input::placeholder {
    color: #818181;
}

form .input-container svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    color: #818181;
}

.options-container {
    padding: 0 20px;
    margin: 25px auto;
    color: #818181;
}

.options-container .checkbox-container, .options-container a {
    display: inline-block;
    width: 50%;
}

a {
    text-align: right;
    color: red;
    text-decoration: none;
}

form p {
    color: #818181;
    text-align: center;
}

form .social-media-container {
    margin: 20px auto;
    width: fit-content;
}

form .social-media-container .icon-container {
    background: #375c98;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

form .social-media-container .icon-container svg{
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    color: white;
}

form .social-media-container .icon-container:nth-child(2) {
    background: #c54f33;
}

form .social-media-container .icon-container:nth-child(3) {
    background: #4dadf2;
}

hr {
    border-radius: 50%;
    margin: 15px auto;
}

.footer {
    width: fit-content;
    margin: 0 auto;
}